# Task 1: Data types and variable assignment (10 minutes)
Create variables that store the following values:

An integer with the value 42.

A floating-point number with the value 3.14.

A string "Hello, World!".

A list containing numbers from 1 to 5.

A dictionary with key-value pairs: name as "Alice" and age as 30.

In [1]:
num = 42
pi = 3.14
my_string = "Hello, World!"
my_list = [1, 2, 3, 4, 5]
my_dict = {'name:': 'alice', 'age': 20}


# Task 2: Basic mathematical operations (10 minutes)
Calculate the sum, difference, product, and quotient of two numbers: 15 and 4.

Calculate the value of the expression (3+7)*(12/4).

In [2]:
a = 15
b = 4
print(a + b)
print(a - b)
print(a / b)

x = (3+7)*(12/4)
print(x)

19
11
3.75
30.0

# Task 3: Indexing and f-string (10 minutes)
Create a list containing numbers from 10 to 20.
Display the third and fifth values from this list using an f-string.

In [3]:
#my_list = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
my_list = list(range(10,21))

print(f"the third value is {my_list[2]}, the fifth value is {my_list[4]}")

the third value is 12, the fifth value is 14

# Task 4: Logical expressions and operators (15 minutes)
Create two variables: a = 5 and b = 10.
Check if a is less than b and print the result.
Increase the value of a by 3, multiply b by 2, and then divide b by 4, using shorthand operators (+=, *=, /=).

In [4]:
a = 5
b =10

print(a < b)

a += 3
b *= 2
b /= 4

print(a)
print(b)

True
8
5.0

# Task 5: Strings and conditional statements (15 minutes)
Create a string "Python is awesome".
Split this string into a list of words.
Check if the word "awesome" is in this list; if it is, print "Found!", if not, print "Not found!".

In [5]:
def split_strings(string):
  my_string = "Python is awesome"
  my_list = my_string.split()
  pattern = "awesome"
  if pattern in my_list:
    return "Found"
  else:
    return "Not found"

In [6]:
print(split_strings(my_string))

Found

# Task 6: Dictionaries and while loop (15 minutes)
Create a dictionary with the following key-value pairs: fruit as "Apple", quantity as 10.

Add a new pair: price as 2.5.

Display all keys and values of the dictionary.

Use a while loop to decrease the quantity by 1 until it reaches 0. If the quantity is 5, use break to end the loop earlier.

In [7]:

my_dict = {"fruit": "apple", "quantity": 10}
my_dict["price"] = 2.5

for key, value in my_dict.items():
    print(key, value)

def dictionaries(dict):

  quantity = 10

  while quantity > 0:
    print("minus one")
    quantity -= 1

    if quantity == 5:
      break

  return quantity

fruit apple
quantity 10
price 2.5

In [8]:
print(dictionaries(my_dict))

minus one
minus one
minus one
minus one
minus one
5

# Task 7: Functions and error handling (20 minutes)
Write a function that takes a list of numbers and returns their sum.
Add error handling to make the function return an error message if any element of the list is not a number.

In [10]:
def function(my_list):
  num = 0
  try:
    for el in my_list:
      num += el
    return num
  except:
    print("Looks like you did not enter an integer!")

In [11]:
my_list1 = [1, 2]
print(function(my_list1))

3

In [12]:
def funct(lst):
  try:
    return(sum(lst))
  except TypeError:
     print("Looks like you did not enter an integer!")

In [ ]:
print(funct([1, 5]))

6

# Task 8: List operations and lambda (20 minutes)
Create a list containing numbers from 1 to 10.
Use the map function with a lambda expression to create a new list where each number is squared.
Use the filter function with a lambda expression to create a new list containing only even numbers.

In [13]:
list_of_numbers = list(range(1,11))

squared_numbers = list(map(lambda n: n ** 2, list_of_numbers))
even_numbers = list(filter(lambda n: n % 2 == 0, squared_numbers))

print(list_of_numbers)
print(squared_numbers)
print(even_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[4, 16, 36, 64, 100]

# Task 9: Regular expressions (20 minutes)
Write a regular expression pattern to find all words starting with the letter "a" in the string "An apple a day keeps the doctor away".

Use re.search to check if the string contains the word "doctor".

Use re.findall to find all words starting with the letter "a".

Use re.sub to replace the word "doctor" with "physician".

In [14]:
import re
text = "An apple a day keeps the doctor away"
pattern = r"\b[aA]\w*"

if re.search(r"\bdoctor\b", text):
  print("Doctor")
else:
  print("no doctor")

print(re.findall(pattern, text))

print(re.sub(r"\bdoctor\b", "physician", text))

Doctor
['An', 'apple', 'a', 'away']
An apple a day keeps the physician away

# Task 10: Zip and list comprehension (15 minutes)
Create two lists: names = ["Alice", "Bob", "Charlie"] and scores = [85, 92, 78].

Use the zip function to combine these lists into a list of tuples.

Use list comprehension to create a new list containing strings in the format "Name: score" for each element.

In [15]:
 names = ["Alice", "Bob", "Charlie"]
 scores = [85, 92, 78]

 my_list = list(zip(names, scores))

 lst = [f"{name}: {score}" for name, score in my_list]

 print(lst)

['Alice: 85', 'Bob: 92', 'Charlie: 78']

# Task 11: Functions and differences between return and print (10 minutes)
Write a function that takes two numbers and returns their sum.
Explain the differences between return and print using this function as an example.

In [16]:
def sum(a, b):
  return a + b

In [17]:
type(sum(1,2))

int

In [18]:
def sum2(c, d):
  print(c + d)

In [19]:
type(sum2(1,2))

3

NoneType